# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Oo]bj/
[Bb]in/

# Visual Studio cache and user-specific files
.vs/
*.vcxproj.user
*.suo
*.user
*.aps
*.ncb
*.sdf
*.opensdf
*.tlog

# Compiled binaries (in case they end up elsewhere)
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.lib
*.dll

# OS junk
Thumbs.db
.DS_Store

# SQLite database files (auto-created by the app on first run)
*.db
*.db-journal
*.db-shm
*.db-wal